@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lexend:wght@100..900&family=Rubik+Puddles&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-play: "Rubik Puddles", system-ui;
  --font-calm: "Lexend", sans-serif;
  --font-loud: "Bowlby One SC", sans-serif;

  --color-primary: #8C00FF;
  --color-primary-dark: #8100f1;
  --color-gray-light: #fdf7ff;
  --color-white: #fff;
  --color-green: rgb(75, 255, 147);
  --color-green-op: rgba(75, 255, 147, .5);
  --color-red: rgb(255, 76, 76);
  --color-red-op: rgba(255, 76, 76, .5);
  --color-yellow: #ffc23d;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: var(--color-primary);
  
}

header {
  margin-bottom: 56px;

  & h1 {
    font-family: var(--font-play);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 6.5rem;
    color: var(--color-white);
    line-height: 1.5;
  }
  & p {
    font-family: var(--font-calm);
    font-size: 1.5rem;
    color: var(--color-gray-light);
    letter-spacing: 0.15rem;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vs {
  font-size: 5rem;
  color: var(--color-gray-light);
  opacity: .5;
  font-weight: 900;
  animation: pulse 2s ease-in-out infinite;
  margin: 0 48px;
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.box {
  width: 400px;
  aspect-ratio: 1 / 1.25;
  border-radius: 40px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: rgba(255,255,255,.15);
  border: 4px solid var(--color-green);
  /* box-shadow: 0 0 32px var(--color-green-op); */
  border: 4px solid var(--color-primary-dark);
  transition: scale .5s ease-out;
  animation: fadeInUp .5s ease-in-out;

  &:hover {
    scale: 1.05;
  }

  & .title {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    color: var(--color-white);
  }
  & .item-image {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 13rem;
    filter: drop-shadow(0 0 1rem var(--color-white));
    cursor: default;
    color: var(--color-yellow);

    &.swing {
      animation: swing .65s ease-in-out;
    }
  }

  & .result {
    height: fit-content;
    font-family: var(--font-loud);
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-green);
    text-shadow: 0 0 32px var(--color-green-op);
    /* color: var(--color-red);
    text-shadow: 0 0 32px var(--color-red-op); */
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes swing {
  20% {
    transform: rotate(15deg) scale(1);
  }

  40% {
    transform: rotate(-10deg) scale(1.1);
  }

  60% {
    transform: rotate(5deg) scale(1.2);
  }

  80% {
    transform: rotate(-5deg) scale(1.1);
  }
  to {
    transform: rotate(0deg) scale(1);
  }
}

button {
  border: 0;
  background: transparent;
  color: var(--color-white);
  font-size: 1.25rem;
  margin: 0 8px;
  text-transform: uppercase;
  padding: 12px 24px;
  border: 1px solid #000;
  border-radius: 8px;
  margin-top: 40px;
  cursor: pointer;
}

@media (max-width: 1440px) {
  header {
      margin-bottom: 48px;
  
      & h1 {
        font-size: 5rem;
      }
  
      & p {
        font-size: 1.25rem;
      }
    }

  
    .box {
      width: 320px;
  
      & .title {
        font-size: 1.5rem;
      }
  
      & .item-image {
        font-size: 10rem;
      }
  
      & .result {
        font-size: 2.5rem;
      }
    }
}